<br>
<h1>About Page</h1>
<br>
<p>
  The purpose of the development of this application was to gain basic understanding of Ember.js Framework and hands-on practice on some of its features.
</p>
<br><br>
{{show-logo}}
<br><br>
